.header {
	width: 100%;
	height: auto;
	position: fixed;
	padding: 24px 0px;
	background-color: rgba(255, 255, 255, 0);
	z-index: 999;
	&.scroll {
		background-color: rgba(255, 255, 255, 0.9);
		backdrop-filter: blur(10px);
	}
}

.rootDiv {
	width: 1312px;
	height: 48px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.leftSection {
	display: flex;
	align-items: center;
}

.logoWrapper {
	display: flex;
	align-items: center;
}

.logoMainWrapper {
	width: 55px;
	height: 48px;
}

.logoMain {
	width: 100%;
	height: 100%;
}

.logoTextWrapper {
	margin-left: 8px;
	width: 70px;
	height: 22px;
}

.logoText {
	width: 100%;
	height: 100%;
}

.switcher {
	margin-left: 16px;
	margin-bottom: 2px;
}

.nawLinkMenu {
	margin-right: 27px;
}

@include media-mixin.desktop-medium {
	.rootDiv {
		width: 1192px;
		height: 40px;
	}

	.logoMainWrapper {
		width: 45px;
		height: 40px;
	}

	.logoTextWrapper {
		margin-left: 5px;
		width: 70px;
		height: 20px;
	}

	.switcher {
		margin-left: 20px;
	}

	.nawLinkMenu {
		margin-right: 39px;
	}

	.button {
		margin-right: 2px;
	}
}

@include media-mixin.laptop {
	.rootDiv {
		width: 1032px;
		height: 40px;
	}
}

@include media-mixin.tablet {
	.rootDiv {
		width: auto;
		height: 40px;
		margin-inline: 10px;
	}

	.switcher {
		margin-left: 19px;
	}

	.nawLinkMenu {
		margin-right: 42px;
	}

	.button {
		margin-right: -1px;
		margin-bottom: 3px;
	}
}

@include media-mixin.mobile-large {
	.header {
		padding: 23px 0px;
	}
	.rootDiv {
		width: auto;
		height: 40px;
		margin-inline: 16px;
	}
	.switcher {
		margin-bottom: 0px;
		margin-top: 2px;
	}
}

@include media-mixin.mobile {
	.header {
		padding: 24px 0px;
	}
	.rootDiv {
		height: 38px;
	}
}
