.section {
	width: 850px;
	height: 790px;
	position: relative;

	> * {
		position: absolute;
	}

	&Img1 {
		width: 300px;
		height: 491px;
		top: 47px;
		left: 108px;
		z-index: 2;
		opacity: 0.3;
		animation: activity 0.5s linear forwards;

		img {
			width: 100%;
			height: 100%;
		}

		@keyframes activity {
			to {
				opacity: 1;
			}
		}
	}

	&Img2 {
		width: 300px;
		height: 488px;
		top: 193px;
		left: 355px;
		z-index: 2;
		opacity: 0.3;
		animation: activity 0.5s linear forwards;

		img {
			width: 100%;
			height: 100%;
		}

		@keyframes activity {
			to {
				opacity: 1;
			}
		}
	}
}

@include media-mixin.desktop-medium {
	.section {
		&Img1 {
			top: 49px;
			left: 106px;
		}
		&Img2 {
			top: 196px;
			left: 353px;
		}
	}
}

@include media-mixin.laptop {
	.section {
		&Img1 {
			top: 47px;
			left: 101px;
		}
		&Img2 {
			top: 194px;
			left: 348px;
		}
	}
}

@include media-mixin.tablet {
	.section {
		&Img1 {
			top: 38px;
			left: 113px;
		}
		&Img2 {
			top: 185px;
			left: 367px;
		}
	}
}

@include media-mixin.mobile-large {
	.section {
		&Img1 {
			top: 3px;
			left: 76px;
			width: 338px;
			height: 575px;
		}
		&Img2 {
			top: 142px;
			left: 371px;
			width: 341px;
			height: 547px;
		}
	}
}

@include media-mixin.mobile {
	.section {
		&Img1 {
			top: 28px;
			left: -31px;
			width: 246px;
			height: 406px;
		}
		&Img2 {
			top: 119px;
			left: 125px;
			width: 346px;
			height: 400px;
		}
	}
}
