.section {
	margin-top: 216px;
	margin-left: 40px;
	width: 100%;
	height: 660px;
	background-color: var(--color-bg-grey);
	border-radius: 50px 0px 0px 50px;
	transform: skewY(-8deg);
	position: relative;
	z-index: 5;
	display: flex;
	align-items: center;

	&Blocks {
		margin-inline: 230px;
		display: flex;
		gap: 180px;

		&Left {
			width: 600px;
			height: 600px;
			position: relative;
			transform: skewY(8deg);

			> * {
				transform: rotate(8deg);
				position: absolute;
				width: 270px;
				height: 110px;
				background-color: var(--color-bg-white);
				border-radius: 20px;
				box-shadow: 10px 5px 15px var(--color-shadow-10);
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
			}

			&1 {
				top: 82px;
				left: 65px;
				&Title {
					font-weight: 700;
					font-size: 20px;
					line-height: 26px;
					padding-left: 4px;
				}
				&Text {
					padding-top: 6px;
					width: 190px;
					height: 30px;
					font-weight: 500;
					font-size: 12px;
					line-height: 14.5px;
					text-align: center;
					color: var(--color-text-second);
				}

				&Image {
					position: absolute;
					width: 200px;
					height: 200px;
					z-index: -1;

					> * {
						position: absolute;
						pointer-events: none;
						transform: none;
					}

					&Stars {
						left: 104px;
						top: -10px;
					}

					&Comment {
						left: 179px;
						top: 16px;
						transform: rotate(-10deg);
					}

					&Arrow {
						left: 238px;
						top: 83px;
						transform: rotate(-7deg);
					}
				}
			}
			&2 {
				top: 260px;
				left: 307px;

				&Title {
					font-weight: 700;
					font-size: 20px;
					line-height: 26px;
				}
				&Text {
					margin-top: 5px;
					width: 175px;
					height: 30px;
					font-weight: 500;
					font-size: 12px;
					line-height: 14.5px;
					text-align: center;
					color: var(--color-text-second);
				}

				&Image {
					position: absolute;
					width: 200px;
					height: 200px;
					z-index: -1;

					> * {
						position: absolute;
						pointer-events: none;
					}

					&Stars {
						left: 154px;
						top: -21px;
					}

					&Todo {
						left: -54px;
						top: 114px;
						transform: rotate(-10deg);
					}

					&Arrow {
						left: -172px;
						top: 106px;
						transform: rotate(-12deg);
					}
				}
			}
			&3 {
				top: 388px;
				left: 40px;

				&Title {
					font-weight: 700;
					font-size: 20px;
					line-height: 26px;
				}
				&Text {
					margin-top: 5px;
					width: 175px;
					height: 30px;
					font-weight: 500;
					font-size: 12px;
					line-height: 14.5px;
					text-align: center;
					color: var(--color-text-second);
				}

				&Image {
					position: absolute;
					width: 200px;
					height: 200px;
					z-index: -1;

					> * {
						position: absolute;
						pointer-events: none;
					}
					&Payments {
						left: -40px;
						top: 17px;
						transform: rotate(-10deg);
					}
					&TwoStars {
						left: 30px;
						top: -16px;
					}

					&ThreeStars {
						left: 241px;
						top: 18px;
					}
				}
			}
		}

		&Right {
			width: 575px;
			height: 600px;
			margin-left: -9px;
			display: flex;
			align-items: center;
			justify-content: center;

			&Wrapper {
				margin-top: 55px;
				width: 575px;
				height: 230px;
				display: flex;
				flex-direction: column;
				gap: 32px;
				transform: skewY(8deg);
			}

			&Text {
				display: flex;
				flex-direction: column;
				gap: 16px;
			}

			&Title {
				margin: 0px;
				font-size: 44px;
				font-weight: 600;
				line-height: 54px;
			}

			&Paragraf {
				width: 550px;
				font-family: Inter;
				font-size: 18px;
				font-weight: 400;
				line-height: 24px;
				text-align: left;
				color: var(--color-text-second);
			}
		}
	}
}

@include media-mixin.desktop-medium {
	.section {
		margin-top: 213px;
		margin-left: 55px;
		&Blocks {
			margin-inline: 33px;
			display: flex;
			gap: 161px;

			&Left {
				&1 {
					top: 96px;
					left: 69px;
					&Text {
						width: 202px;
						font-size: 13px;
					}

					&Image {
						&Stars {
							left: 107px;
							top: -13px;
							transform: rotate(-8deg);
						}

						&Comment {
							left: 181px;
							top: 13px;
							transform: rotate(-5deg);
						}

						&Arrow {
							left: 238px;
							top: 77px;
						}
					}
				}
				&2 {
					top: 266px;
					left: 313px;

					&Title {
						padding-left: 5px;
					}

					&Image {
						&Stars {
							left: 152px;
							top: -24px;
							transform: rotate(-8deg);
						}

						&Todo {
							top: 112px;
						}

						&Arrow {
							left: -167px;
							top: 99px;
							transform: rotate(-12deg);
						}
					}
				}
				&3 {
					top: 403px;
					left: 44px;

					&Image {
						> * {
							transform: rotate(-8deg);
						}
						&Payments {
							left: -38px;
							top: 15px;
						}
						&TwoStars {
							left: 40px;
							top: -19px;
						}

						&ThreeStars {
							left: 241px;
							top: 16px;
						}
					}
				}
			}

			&Right {
				&Wrapper {
					margin-top: 65px;
				}
				&Title {
					font-size: 36px;
					line-height: 44px;
				}

				&Paragraf {
					width: 478px;
					font-size: 16px;
					line-height: 23px;
				}
			}
		}
	}
}

.background {
	position: absolute;

	> * {
		transform: skewY(8deg);
		position: absolute;
		z-index: -1;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&Group1 {
		width: 255px;
		height: 190px;
		left: 1367px;
		bottom: -400px;
	}

	&Group2 {
		width: 300px;
		height: 225px;
		left: 267px;
		bottom: -451px;
	}

	&Rectangle {
		left: 1400px;
		bottom: -275px;
	}

	@include media-mixin.desktop-medium {
		&Group1 {
			width: 322px;
			height: 193px;
			left: 1099px;
			bottom: -365px;
		}

		&Group2 {
			width: 305px;
			height: 268px;
			left: 21px;
			bottom: -431px;
		}

		&Rectangle {
			left: 1088px;
			bottom: -232px;
		}
	}
}
