.main {
	margin-top: 170px;
	width: 100%;
	height: 790px;
	display: flex;
	gap: 40px;
	justify-content: center;
	align-items: center;
}

.leftBlock {
	width: 575px;
	height: 370px;
	margin-left: 160px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	position: relative;

	&Button {
		font-family: Gilroy;
		font-size: 20px;
		font-weight: 700;
		line-height: 25px;
		text-align: center;
	}

	&Rectangle {
		position: absolute;
		left: -220px;
		top: -80px;
		z-index: -1;
	}
}

.rightBlock {
	width: 850px;
	height: 790px;
	position: relative;

	> * {
		position: absolute;
	}
	&Num1 {
		top: 78px;
		left: 159px;
		z-index: 2;
	}

	&Num2 {
		top: 114px;
		left: 194px;
		z-index: 2;
	}

	&ImgStars {
		top: 97px;
		left: -6px;
	}
	&ImgRectangleGroup {
		top: 75px;
		left: 376px;
		width: 310px;
		height: 235px;
		z-index: 3;

		img {
			opacity: 0.5;
			width: 100%;
			height: 100%;
		}
	}
}
