.main {
	margin-top: 170px;
	width: 100vw;
	height: 790px;
	display: flex;
	gap: 40px;
	justify-content: center;
	align-items: center;
}

.leftBlock {
	width: 38vw;
	display: flex;
	justify-content: flex-end;
	position: relative;

	&Content {
		width: 574px;
		height: 370px;
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	&Button {
		display: flex;
		justify-content: flex-start;
	}

	&Rectangle {
		position: absolute;
		left: -220px;
		top: -80px;
		z-index: -1;
	}
}

.rightBlock {
	width: 44vw;
	height: 790px;
	position: relative;

	> * {
		position: absolute;
	}
	&DoubleRectangle {
		top: 78px;
		left: 159px;
		z-index: 2;
	}

	&ImgStars {
		top: 97px;
		left: -4px;
	}
	&ImgRectangleGroup {
		top: 75px;
		left: 376px;
		width: 310px;
		height: 235px;
		z-index: 3;

		img {
			opacity: 0.5;
			width: 100%;
			height: 100%;
		}
	}
}
@include media-mixin.desktop-medium {
	.main {
		margin-top: 170px;
		width: 100vw;
		height: 790px;
		display: flex;
		gap: 71px;
		justify-content: center;
		align-items: center;
	}

	.leftBlock {
		width: 52vw;
		display: flex;
		justify-content: flex-end;
		position: relative;

		&Content {
			width: 516px;
			height: 343px;
			margin-bottom: 75px;
			display: flex;
			flex-direction: column;
			gap: 32px;
		}
		&Rectangle {
			left: -159px;
			top: -93px;
		}
	}

	.rightBlock {
		width: 59vw;
		height: 790px;
		position: relative;

		> * {
			position: absolute;
		}
		&DoubleRectangle {
			top: 79px;
			left: 160px;
		}

		&ImgStars {
			top: 99px;
			left: -6px;
		}
		&ImgRectangleGroup {
			top: 77px;
			left: 375px;
		}
	}
}

@include media-mixin.laptop {
	.main {
		gap: 0px;
	}

	.leftBlock {
		width: 50vw;

		&Rectangle {
			left: -239px;
			top: -103px;
		}
	}

	.rightBlock {
		width: 50vw;

		&DoubleRectangle {
			top: 78px;
			left: 156px;
		}

		&ImgStars {
			top: 97px;
			left: -10px;
		}
		&ImgRectangleGroup {
			top: 75px;
			left: 370px;
		}
	}
}

@include media-mixin.tablet {
	.leftBlock {
		width: 33vw;

		&Content {
			width: 407px;
			margin-bottom: 102px;
		}

		&Rectangle {
			left: -239px;
			top: -103px;
		}
	}

	.rightBlock {
		width: 50vw;

		&DoubleRectangle {
			top: 69px;
			left: 167px;
		}

		&ImgStars {
			top: 88px;
			left: 1px;
		}
		&ImgRectangleGroup {
			top: 66px;
			left: 382px;
		}
	}
}
