.linkMenu {
	width: 347px;
	height: 22px;
}
.linkMenuList {
	text-decoration: none;
	display: flex;
	gap: 72px;
}

.activeLink {
	color: var(--color-text-primary);
}

.link {
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
}
