.block {
	width: 1312px;
	height: 590px;
	margin-inline: auto;

	&InfoWrapper {
		width: 100vw;
		padding-top: 260px;
		display: flex;
		flex-direction: column;
	}

	&Info {
		width: 478px;
		position: relative;

		&Stars {
			position: absolute;
			width: 90px;
			height: 80px;
			top: -33px;
			left: -40px;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	&Title {
		font-size: 48px;
		line-height: 58px;
		font-weight: 600;

		&Red {
			color: var(--color-text-primary);
			font-size: 44px;
			font-weight: 700;
			line-height: 49px;
		}

		&Wrapper {
			margin-bottom: 16px;
		}
	}

	&Text {
		font-size: 20px;
		line-height: 26px;
		color: var(--color-text-second);
		&Wrapper {
			width: 412px;
			margin-bottom: 32px;
		}
	}

	&Button {
		margin-bottom: 12px;
	}

	&Footer {
		display: block;
		display: flex;
		gap: 8px;
		align-items: center;
		justify-content: center;

		&Text {
			color: var(--color-text-second);
			font-size: 16px;
			line-height: 20px;
		}
	}
}
@include media-mixin.desktop-medium {
	.block {
		margin-inline: 124px;

		&InfoWrapper {
			padding-top: 252px;
		}

		&Info {
			width: 427px;

			&Stars {
				top: -41px;
				left: -49px;
			}
		}

		&Title {
			font-size: 44px;
			line-height: 54px;

			&Wrapper {
				margin-bottom: 11px;
			}
		}

		&Text {
			font-size: 18px;
			line-height: 24px;
			color: var(--color-text-second);
			&Wrapper {
				width: 364px;
				margin-bottom: 32px;
			}
		}

		&Footer {
			&Text {
				font-size: 14px;
				line-height: 17px;
			}
		}
	}
}
@include media-mixin.tablet {
	.block {
		margin-inline: 40px;

		&InfoWrapper {
			padding-top: 257px;
		}

		&Info {
			width: 373px;

			&Stars {
				top: -43px;
				left: -23px;
				transform: rotate(27deg);
			}
		}

		&Title {
			font-size: 36px;
			line-height: 49px;

			&Red {
				font-size: 36px;
			}

			&Wrapper {
				margin-bottom: 15px;
			}
		}

		&Text {
			font-size: 16px;
			line-height: 24px;
			&Wrapper {
				width: 328px;
			}
		}
	}
}

@include media-mixin.mobile-large {
	.block {
		height: 100vh;
		margin: 0px;

		&InfoWrapper {
			padding-top: 126px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&Info {
			width: 477px;
			height: 252px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			&Stars {
				top: -49px;
				left: 37px;
				transform: rotate(27deg);
			}
		}

		&Title {
			font-size: 32px;
			line-height: 39px;

			&Red {
				font-size: 32px;
				line-height: 39px;
			}

			&Wrapper {
				width: 333px;
				height: 90px;
				margin-bottom: 16px;
				text-align: center;
			}
		}

		&Text {
			font-size: 16px;
			line-height: 24px;
			&Wrapper {
				text-align: center;
				width: 477px;
				height: 48px;
				margin-bottom: 32px;
			}
		}
	}
}

@include media-mixin.mobile {
	.block {
		height: 100vh;
		margin: 0px;

		&InfoWrapper {
			padding-top: 140px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&Info {
			width: 333px;
			height: 260px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			&Stars {
				top: -51px;
				left: -7px;
				width: 73px;
				height: 80px;
				transform: rotate(27deg);
			}
		}

		&Title {
			font-size: 28px;
			line-height: 35px;

			&Red {
				font-size: 28px;
				line-height: 35px;
			}

			&Wrapper {
				width: 285px;
				height: 70px;
				margin-bottom: 16px;
				text-align: center;
			}
		}

		&Text {
			font-size: 14px;
			line-height: 22px;
			&Wrapper {
				text-align: center;
				width: 330px;
				height: 66px;
				margin-bottom: 32px;
			}
		}
	}
}

.rectangle {
	position: relative;

	> * {
		position: absolute;
	}

	&Top {
		bottom: 528px;
		left: 353px;
	}

	&Left {
		bottom: -159px;
		left: -92px;
		z-index: -1;
	}

	&Double {
		bottom: -384px;
		left: 733px;
	}

	@include media-mixin.desktop-medium {
		&Top {
			bottom: 460px;
			left: 257px;
		}

		&Left {
			bottom: -205px;
			left: -155px;
		}

		&Double {
			bottom: -420px;
			left: 675px;
		}
	}
	@include media-mixin.laptop {
		&Top {
			left: 178px;
		}

		&Double {
			bottom: -419px;
			left: 592px;
		}
	}
	@include media-mixin.tablet {
		&Top {
			left: 153px;
		}

		&Left {
			bottom: -205px;
			left: -105px;
		}

		&Double {
			bottom: -418px;
			left: 517px;
		}
	}

	@include media-mixin.mobile-large {
		&Top {
			left: 595px;
			bottom: 205px;
		}
		&Left {
			bottom: -205px;
			left: -105px;
		}

		&Double {
			top: 83px;
			left: -499px;
		}
	}
	@include media-mixin.mobile {
		&Top {
			left: 276px;
			bottom: 273px;
		}
		&Left {
			bottom: -102px;
			left: -150px;
		}

		&Double {
			top: 53px;
			left: -354px;
		}
	}
}

.image {
	position: relative;
	width: 50px;
	height: 50px;
	> * {
		position: absolute;
		img {
			width: 100%;
			height: 100%;
		}
	}

	&RectangleGroupWhite1 {
		left: 690px;
		bottom: 203px;
		width: 192px;
		height: 150px;
		opacity: 0.33;
		z-index: 1;
	}

	&RectangleGroupWhite2 {
		left: 1048px;
		bottom: -211px;
		width: 328px;
		height: 248px;
		opacity: 0.33;
		z-index: 1;
	}

	&Desktop {
		width: 851px;
		height: 639px;
		left: 748px;
		bottom: -63px;
	}

	&Mobile {
		width: 255px;
		height: 415px;
		left: 591px;
		bottom: -131px;
	}

	@include media-mixin.desktop-medium {
		&RectangleGroupWhite1 {
			left: 628px;
			bottom: 171px;
		}
		&RectangleGroupWhite2 {
			left: 984px;
			bottom: -208px;
		}

		&Desktop {
			left: 683px;
			bottom: -100px;
		}

		&Mobile {
			left: 531px;
			bottom: -165px;
		}
	}
	@include media-mixin.laptop {
		&RectangleGroupWhite1 {
			left: 547px;
			bottom: 171px;
		}
		&RectangleGroupWhite2 {
			left: 904px;
		}
		&Desktop {
			left: 603px;
			bottom: -98px;
		}
		&Mobile {
			left: 451px;
			bottom: -165px;
		}
	}
	@include media-mixin.tablet {
		&Desktop {
			left: 525px;
			bottom: -100px;
		}
		&Mobile {
			left: 373px;
			bottom: -167px;
		}
		&RectangleGroupWhite1 {
			left: 460px;
			bottom: 169px;
		}
		&RectangleGroupWhite2 {
			left: 816px;
		}
	}
	@include media-mixin.mobile-large {
		&Desktop {
			width: 892px;
			height: 707px;
			left: 186px;
			bottom: -612px;
		}
		&Mobile {
			width: 265px;
			height: 461px;
			left: 26px;
			bottom: -677px;
		}
		&RectangleGroupWhite1 {
			left: 22px;
			bottom: -160px;
			width: 245px;
			height: 182px;
		}
		&RectangleGroupWhite2 {
			bottom: -641px;
			left: 188px;
			width: 407px;
			height: 321px;
		}
	}
	@include media-mixin.mobile {
		&Desktop {
			width: 615px;
			height: 388px;
			left: 53px;
			bottom: -372px;
		}
		&Mobile {
			width: 196px;
			height: 273px;
			left: -12px;
			bottom: -414px;
		}
		&RectangleGroupWhite1 {
			left: 5px;
			bottom: -93px;
			width: 164px;
			height: 147px;
		}
		&RectangleGroupWhite2 {
			bottom: -496px;
			left: 97px;
			width: 276px;
			height: 320px;
		}
	}
}
