.linkMenu {
	width: 317px;
	height: 28px;
}
.linkMenuList {
	text-decoration: none;
	display: flex;
	gap: 32px;
}

.activeLink {
	color: var(--color-text-primary);
}

.link {
	font-size: 16px;
	line-height: 27px;
	font-weight: 500;
	transition-duration: var(--o-transition-duration);
}

.link:hover {
	color: var(--color-text-primary);
}
