:root {
	--color-text-primary: #ff474d;
	--color-text-main: #212121;
	--color-text-white: #ffffff;
	--color-text-second: #5c5c5c;
	--color-text-placeholder: #bdbdbd;

	--color-input: #f3f4f5;

	--color-bg-white: #ffffff;
	--color-bg-grey: #f6f6f6;
	--color-bg-black: #363636;

	--color-span-line: #c4c4c4;

	--color-gradient-radial-15: radial-gradient(circle, #dadada 15%, #fafafa 15%);
	--color-gradient-radial-20: radial-gradient(circle, #ffffff 20%, #fafafa 20%);
	--color-gradient-radial-30: radial-gradient(circle, #373737 30%, #fafafa 0%);
	--color-gradient-radial-50: radial-gradient(circle, #f6f5f5 50%, #fafafa 50%);
	--color-gradient-radial-60: radial-gradient(circle, #ffffff 60%, #fafafa 60%);
	--color-gradient-radial-80: radial-gradient(circle, #dadada 80%, #fafafa 80%);
	--color-gradient-radial-100: radial-gradient(
		circle,
		#dadada 100%,
		#fafafa 100%
	);
	--color-gradient-diamond: radial-gradient(circle, #6d6d6d2e 18%, #fafafa 0%);

	--color-bg-elements-diamond: #fb242b;
	--color-bg-elements-diamond-60: #fb242b99;
	--color-bg-elements-diamond-40: #fb242b66;

	--color-bg-elements-diamond-30: #fb242b4d;

	--color-button-primary: #ff474d;
	--color-button-second: #ffffff;
	--color-button-black: #212121;
	--color-button-hovered1: #e0e0e1;
	--color-button-hovered2: #ff474dcc;

	--color-shadow-10: #2121211a;

	// chetatam))
	--border: 1px solid var(--color-text-main);
	--border-radius: 16px;
	--border-radius-small: 8px;
	--border-radius-large: 32px;

	--font-family-base: 'Gilroy', sans-serif;

	--input-height: 40px;
	--input-height-large: 48px;

	--button-height: 48px;
	--button-height-large: 56px;

	--o-transition-duration: 0.2s;
}
