.button {
	font-weight: var(--button-main-weight);
	border-radius: 19px;
	border: none;
	font-weight: 700;
	transition-duration: var(--o-transition-duration);
	cursor: pointer;
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: center;
}

.second {
	background-color: var(--color-button-second);
	color: var(--color-text-main);
}

.second:hover {
	background-color: var(--color-button-hovered1);
}

.second:active {
	background-color: var(--color-button-hovered1);
}

.primary {
	background-color: var(--color-button-primary);
	color: var(--color-text-white);
}

.primary:hover {
	background-color: var(--color-button-hovered2);
}

.primary:active {
	background-color: var(--color-button-hovered2);
}

.small {
	width: 156px;
	height: 48px;
	font-size: 17px;
	line-height: 20px;
}

.medium {
	width: 210px;
	height: 56px;
	font-size: 20px;
	line-height: 25px;
}

.large {
	width: 220px;
	height: 56px;
	font-size: 20px;
	line-height: 25px;
}

@include media-mixin.desktop-medium {
	.button {
		border-radius: 16px;
		font-size: 14px;
	}

	.small {
		width: 129px;
		height: 40px;
	}

	.medium {
		width: 188px;
		height: 48px;
		font-size: 14px;
		line-height: 17px;
	}

	.large {
		width: 188px;
		height: 48px;
		font-size: 16px;
		line-height: 20px;
	}
}
