.linkMenu {
	width: 347px;
	height: 22px;
}
.linkMenuList {
	text-decoration: none;
	display: flex;
	gap: 72px;
}

.activeLink {
	color: var(--color-text-primary);
}

.link {
	font-size: 18px;
	line-height: 27px;
	font-weight: 500;
	transition-duration: var(--o-transition-duration);
}

.link:hover {
	color: var(--color-text-primary);
}

@include media-mixin.desktop-medium {
	.linkMenu {
		width: 325px;
		height: 19px;
	}

	.link {
		font-size: 16px;
		line-height: 19px;
	}
}
